{%- from 'jenkins/map.jinja' import jenkins with context -%}

{%- macro fmtarg(prefix, value) -%}
{{ (prefix + ' ' + value) if value else '' }}
{%- endmacro -%}

{%- macro jenkins_cli_auth_params(connection_mode) -%}
{%- if connection_mode == 'ssh' -%}
-ssh -user {{ jenkins.cli.ssh_user }}
{%- else -%}
-http -auth {{ jenkins.cli.http_auth }}
{%- endif -%}
{%- endmacro -%}

{%- macro jenkins_cli(cmd) -%}
{{ ' '.join(['java', '-jar', jenkins.cli_path, '-s', jenkins.master_url, fmtarg('-i', jenkins.get('privkey')), jenkins_cli_auth_params(jenkins.cli.connection_mode), cmd]) }} {{ ' '.join(varargs) }}
{%- endmacro -%}
