{% set jenkins = salt['grains.filter_by']({
    'default': {
        'user': 'jenkins',
        'group': 'jenkins',
        'home': '/var/lib/jenkins',
    },
}, merge=salt['pillar.get']('jenkins:lookup')) %}
