{% from "jenkins/map.jinja" import jenkins with context %}

{# All Jinja macros used in cli.sls #}
{%- macro fmtarg(prefix, value)-%}
{{ (prefix + ' ' + value) if value else '' }}
{%- endmacro -%}

{%- macro jenkins_cli(cmd) -%}
{{ ' '.join(['java', '-jar', jenkins.cli_path, '-s', jenkins.master_url, fmtarg('-i', jenkins.get('privkey')), cmd]) }} {{ ' '.join(varargs) }}
{%- endmacro -%}

{% if grains['os_family'] == 'RedHat' %}
  {%- macro jenkins_listen() -%}
  {{ ' '.join(['curl', '-I', jenkins.master_url]) }}
  {%- endmacro -%}
{% else %}
  {%- macro jenkins_listen() -%}
  {{ ' '.join(['nc', '-z', 'localhost', jenkins.jenkins_port|string]) }}
  {%- endmacro -%}
{% endif %}
