{% from "jenkins/map.jinja" import jenkins with context %}

{# All Jinja macros used in cli.sls #}
{%- macro fmtarg(prefix, value)-%}
{{ (prefix + ' ' + value) if value else '' }}
{%- endmacro -%}

{%- macro jenkins_cli(cmd) -%}
{{ ' '.join(['java', '-jar', jenkins.cli_path, '-s', jenkins.master_url, fmtarg('-i', jenkins.get('privkey')), cmd]) }} {{ ' '.join(varargs) }}
{%- endmacro -%}

{%- macro jenkins_listen() -%}
{{ ' '.join(['curl', jenkins.master_url) }}
{%- endmacro -%}
